.card {
    /* background-color: red; */
    /* border-radius: 24px; */
    margin: 80px 0;
    z-index: 1;
}

.card-content {
    padding: 5px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 24px;
    padding: 24px;
    border: 1px solid radial-gradient(circle,#FF0000 0%, #0000FF 100%) ;
    /* padding: 80px 0; */
}

.card img {
    display: block;
    margin: 0 auto;
    width: 80px;
}

.card h2 {
    font: var(--caption);
}

.card h2 span:first-child {
    /* var(--headline4) */
    font: var(--body1);
    font-weight: bold;
    display: block;
    margin: 24px 0;
}

@media screen and (min-width: 768px) {
    .card-content {
        padding: 80px;
    }
    .card h2 {
        font: var(--headline5);
        font-weight: normal;
    }
    .card h2 span:first-child {
        font: var(--headline4);
    }
}